<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Demo DNA</title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/dna-components/lib/dna.angular.js"></script>
    <script type="text/javascript" src="components/seed/seed-component.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-app="app">
    <seed-component owner="{{owner}}"></seed-component>
</body>

</html>
