<h1>Seed component :)</h1>
<span>Seed state:
    <span class="seed__state">${this.state}</span>
</span>
<br />
${(!this.isDead()) ? '<button>Grow</button>' : ''}
<br />
<span>All states:</span>
<ul class="seed__states">
    ${this.states.map(function(state) {
        return `<li>${state}</li>`;
    }).join('')}
</ul>
